<!-- Event List Header -->
<div class="container mt-2 bg-secondary bg-gradient">
  <h5 class="px-4 py-2 bg-secondary bg-gradient text-white fs-5">Event List</h5>
  <!-- Filter Section -->
  <form action="/events" method="get">
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="eventTopicSelect"
          >Filter by Event Topic:</label
        >
        <select
          class="custom-select mr-sm-2"
          id="eventTopicSelect"
          name="eventTopic"
        >
          <option value="">All Topics</option>
          <option value="public.concur.request">public.concur.request</option>
          <option value="public.concur.expense.report">
            public.concur.expense.report
          </option>
          <option value="public.concur.travel.itinerary">
            public.concur.travel.itinerary
          </option>
          <option value="public.concur.user.profile.identity">
            public.concur.user.profile.identity
          </option>
          <option value="public.concur.user.provisioning">
            public.concur.user.provisioning
          </option>
        </select>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary btn-sm">Filter</button>
      </div>
    </div>
  </form>
</div>
