<!-- Event List Header -->
<div class="container mt-2 bg-secondary bg-gradient">
  <h5 class="px-4 py-2 bg-secondary bg-gradient text-white fs-5">Event List</h5>
</div>

<div class="container mt-2 bg-white">
  <div class="row g-2 align-items-center">
    <div class="col-auto">
      <sapn class="mb-2 text-primary-emphasis">Event Topic Filter: </sapn>
    </div> 
    <div class="col-auto">
        <form action="/events" method="get" class="form-inline">
            <div class="form-group mb-2">
                <select class="form-select" id="eventTopicSelect" name="eventTopic">
                    <option value="">All Topics</option>
                    <option value="public.concur.request" <% if (selectedTopic === 'public.concur.request') { %>selected<% } %>>public.concur.request</option>
                    <option value="public.concur.expense.report" <% if (selectedTopic === 'public.concur.expense.report') { %>selected<% } %>>public.concur.expense.report</option>
                    <option value="public.concur.travel.itinerary" <% if (selectedTopic === 'public.concur.travel.itinerary') { %>selected<% } %>>public.concur.travel.itinerary</option>
                    <option value="public.concur.user.profile.identity" <% if (selectedTopic === 'public.concur.user.profile.identity') { %>selected<% } %>>public.concur.user.profile.identity</option>
                    <option value="public.concur.user.provisioning" <% if (selectedTopic === 'public.concur.user.provisioning') { %>selected<% } %>>public.concur.user.provisioning</option>
                    <option value="public.concur.document.tax.compliance" <% if (selectedTopic === 'public.concur.document.tax.compliance') { %>selected<% } %>>public.concur.document.tax.compliance</option>
                    <option value="public.concur.financialintegration" <% if (selectedTopic === 'public.concur.financialintegration') { %>selected<% } %>>public.concur.financialintegration</option>
                    <option value="public.concur.spend.accountingintegration" <% if (selectedTopic === 'public.concur.spend.accountingintegration') { %>selected<% } %>>public.concur.spend.accountingintegration</option>
                </select>
            </div>
        </form>
    </div>
  </div>
</div>

<script>
  // Add an event listener to the dropdown to trigger form submission
  const eventTopicSelect = document.getElementById("eventTopicSelect");
  eventTopicSelect.addEventListener("change", function () {
      this.form.submit(); // Submit the form when the dropdown selection changes
  });
</script>
