<div class="container mt-2 bg-secondary bg-gradient">
    <h5 class="px-4 py-2 bg-secondary bg-gradient text-white fs-5 d-flex justify-content-between">Event List
      <form action="/events" method="get" class="form-inline">
        <div class="form-group mb-2">
          <label for="eventTopicSelect" class="mr-2">Filter by Event Topic:</label>
          <select class="form-control form-control-sm" id="eventTopicSelect" name="eventTopic">
            <option value="">All Topics</option>
            <option value="public.concur.request">public.concur.request</option>
            <option value="public.concur.expense.report">public.concur.expense.report</option>
            <option value="public.concur.travel.itinerary">public.concur.travel.itinerary</option>
            <option value="public.concur.user.profile.identity">public.concur.user.profile.identity</option>
            <option value="public.concur.user.provisioning">public.concur.user.provisioning</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Filter</button>
      </form>
    </h5>
  </div>