<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ESS Event Listener</a>
    <form class="form-inline" action="/eventsearch" method="post">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search" name="keyword" required="required" aria-label="Search" />
        <button class="btn btn-primary btn-sm" type="submit" id="submit">Search</button>
      </div>
    </form>
  </div>
</nav>
